#pin_show.rows
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url(:medium)
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .rows
          .col-md-6
            %p.user
              Submitted by
              = @pin.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to like_pin_path(@pin), method: :put, class: 'btn btn-default' do
                - if user_signed_in? and current_user.voted_for? @pin
                  %span.glyphicon.glyphicon-heart.red
                - else
                  %span.glyphicon.glyphicon-heart-empty.red
                = @pin.get_upvotes.size
              = link_to "Back", root_path, class: 'btn btn-default'
              - if user_signed_in?
                = link_to "Edit", edit_pin_path, class: 'btn btn-default'
                = link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
