#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url(:medium)
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .row
          .col-md-6
            %p.user
              Submitted by
              = @pin.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to like_pin_path(@pin), method: :put, class: 'btn btn-default' do
                - if user_signed_in? and current_user.voted_for? @pin
                  %span.glyphicon.glyphicon-heart.red
                - else
                  %span.glyphicon.glyphicon-heart-empty.red
                = @pin.get_upvotes.size
              = link_to "Back", root_path, class: 'btn btn-default'
              - if user_signed_in?
                = link_to "Edit", edit_pin_path, class: 'btn btn-default'
                = link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'

#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-body
        = simple_form_for [@pin, @comment] do |f|
          .form-group
            = f.input :title, input_html: { class: 'form-control' }
          .form-group
            = f.input :comment, input_html: { class: 'form-control' }
          = f.submit class: 'btn btn-primary pull-right'
      .panel-footer
        %h3.text-center
          = pluralize(@pin.comments.count, 'comment')

#pin_show.row
  .col-md-8.col-md-offset-2
    .row
      - @pin.comments.reject(&:new_record?).each do |comment|
        .col-sm-2
          .thumbnail
            %h1.text-center
              %span.glyphicon.glyphicon-user
        .col-sm-10
          .panel.panel-default
            .panel-heading.padding-10
              %strong
                = comment.user.email
              %span.text-muted.pull-right
                = comment.title
            .panel-body
              %p.description
                = comment.comment
              %span.pull-right.time-ago
                = time_ago_in_words(comment.created_at)
                ago
